@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
<div role="alert">
	<button type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	@Model
</div>
}
