html, body
{
	height: 100%;
}

body
{
	background-color: paleturquoise;
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

h1
{
	font-size: 300%;
}

h2
{
	font-size: 200%;
}

h3
{
	font-size: 180%;
}

h4
{
	font-size: 130%;
}

h5
{
	font-size: 120%;
}

h6
{
	font-size: 110%;
}

p
{
	font-size: 100%;
}

header
{
	background-color: gray;
}

nav ul li
{
	display: inline-block;
	padding: 0 1em;
	float: right;
}

table
{
	outline: 1px solid #000;
}

thead
{
	border-bottom: 3px solid gray;
}

tr
{
	border-top: 1px solid gray;
}

	tr:first-child
	{
		border-top: none;
	}

th, td
{
	padding: 0.5em;
	border-left: 1px solid #d8d8d8;
}

table li
{
	border-top: 1px solid #d8d8d8;
	padding: 0.5em 0;
}

	table li:first-child
	{
		border-top: none;
	}

	table li:last-child
	{
		margin-top: 1em;
	}

footer
{
	text-align: center;
	background-color: gray;
}

.sticky-wrapper
{
	flex: 1 0 auto;
}

.button-link
{
	display: inline-block;
	padding: 0.5em 0.6em;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 5px;
	line-height: 1.5em;
	background-color: #fff;
	margin: 0.5em;
	color: #000;
}

.button-link:hover {
	background-color: aliceblue;
	border-color: gray;
	color: rebeccapurple;
}

.login-register
{
	text-align: right;
	padding: 0 1em;
	outline: 1px solid blue;
}

.login-status
{
	text-align: right;
	padding: 0 1em;
	outline: 1px solid red;
}
