@model Yoga.Models.EventViewModels.DisplayEventsViewModel


@{
	ViewData["Title"] = "Events";
}

<h1>Comeback Events</h1>

<h3>All Events</h3>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Location</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var yogaEvent in Model.EventList)
		{
			<tr>

				<td>@yogaEvent.Event.Title</td>
				<td>@yogaEvent.Event.LocationId</td>
				<td>@yogaEvent.Event.Date.ToShortDateString()</td>
				<td><a asp-route-id="@yogaEvent.Event.Id" asp-action="Details">details</a></td>
			</tr>
		}
	</tbody>
</table>
<a asp-action="Create" class="button-link">add an event</a>

