@using Microsoft.AspNetCore.Authorization

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAuthorizationService AuthorizationService



@{
	ViewData["Title"] = "Home Page";
}

<h1>Comeback Yoga</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminsOnly")).Succeeded)
{
	<a asp-controller="Access" asp-action="/Index">Manage Admin access</a>
	<a asp-controller="UploadFiles" asp-action="/Index">Upload data</a>
	<a asp-controller="People" asp-action="/Index">Manage people records</a>
}
else
{
	<p>This is the home page.</p>
	@*<a asp-controller="Classes" asp-action="/Index">Enter attendance data</a>*@
}